{%extends "base.html"%}
{%block content%}

{{ msg }}



<form method="POST" action="addclient">
	
	<p><h3>Add Client</h3></p>
	
    {{ form.as_p }}
    
    <input type="submit" value="Add" class="btn primary" >
    
</form>




{%endblock%}


