{%extends "base.html"%}
{%block content%}

{{ msg }}
{{ msg2 }}



<div id="link_header">
	<h3>Add New User</h3>
</div>
<div class="metadata">

	<form action="/oneUser/" method="post" id='bday'>{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Add New User" class="greyed_btn" />
	</form>

   <!--
	<form method="POST" action="addUser">
	{% csrf_token %}
	<table> -->
		<!--span class="description">Please fill in all fields.</span--> <!--		
		<tr><td><label>First Name:</label></td><td>{{form.firstname}}</td></tr>
		<tr><td><label>Last Name:</label></td><td>{{form.lastname}}</td></tr>
		<tr><td><label>Date of Birth:</label></td><td><input type="date" name="bday" id="distribution_date" value=""  /></td></tr>
		<tr><td><label>Phone Number:</label></td><td>{{form.phone}}</td></tr>
		<tr><td><label>Program:</label></td><td style="float:left;">{{form.program}}</td></tr>
		<tr><td><label>Current Exam:</label></td><td style="float:left;">{{form.currentExam}}</td></tr>
		<tr><td><label>Current QUnit:</label></td><td style="float:left;">{{form.currentQUnit}}</td></tr>
		<tr><td><label>CurrentQ:</label></td><td style="float:left;">{{form.currentQ}}</td></tr>
		<tr><td colspan="2"><input type="submit" value="Add Client" class="spruced_greyed_btn"></td></tr>		
	</table>
	
	</form>
	-->
	
</div>

<script type="text/javascript" language="javascript" src="/static/assets/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/static/assets/js/jquery-ui-min.jss"></script>
<script type="text/javascript" language="javascript" src="/static/assets/js/jquery-min.js"></script>
<script type="text/javascript" language="javascript" src="/static/assets/js/jquery-1.7.1.js"></script>

<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />
<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script> 

<!-- give correct location for jquery.js -->
<!-- give correct location for jquery-ui.js -->
<script type="text/javascript">
   jQuery(function() {
       jQuery("#bday").datepicker({ dateFormat: 'yy-mm-dd' });
   });
</script>


{%endblock%}


