{% extends 'base.html' %}
{%block content%}

<script type="text/javascript">
    gvChartInit();
</script>
<script type="text/javascript" src="/static/js/jsapi.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.gvChart-1.0.1.min.js"></script>
        
<div id="link_header">
	<div id="big_head">
		Performance
	</div>
	<div id="small_head">
		Performance Analysis in Graphs		
	</div> 	
	
</div>
<div class="metadata">
	<table width="80%" style="margin:2%;">
	<tr><td><a href="" class="spruced_greyed_btn">Select Time Period</a></td><td style="margin-right:5%;float:right;"><a href="" class="spruced_greyed_btn">Download Report</a></td></tr>	
	</table>
	<table style="margin-left:25%;">
		<tr><td>
		<a href="#" class="answer_btn" style="font-size:1.2em;">All</a><a href="#basics" class="question_btn" style="font-size:1.2em;">Basics</a><a href="#scores" class="content_btn" style="font-size:1.2em;">Unit Scores</a><a href="#users" class="question_btn" style="font-size:1.2em;">Users</a><a href="#questions" class="answer_btn" style="font-size:1.2em;">Questions</a>
		</td></tr>
	</table>
</div>	
<div class="metadata">
	<table cellpadding="10" style="margin-left:23%;font-weight:bold;font-size:1.2em;" >			
			<tr>
				<td class="spruced_yellow_btn">10,000 </td><td>SMS Sent</td>
				<td class="spruced_greyed_btn">110 </td><td>Complete</td></tr><tr>
				<td class="spruced_yellow_btn">700 </td><td>SMS Received</td>
				<td class="spruced_greyed_btn">30 </td><td>In Progress</td></tr><tr>
				<td class="spruced_yellow_btn">10,700 </td><td>SMSs Used</td>
				<td class="spruced_greyed_btn">50 </td><td>Not Started</td>
			</td></tr>
		</table>
</div>	
<div style="margin-left:15%;margin-bottom:2%;">
	<!-- LineChart -->

        <script type="text/javascript">     
        gvChartInit();
        jQuery(document).ready(function(){
            jQuery('#myTable').gvChart({
                chartType: 'ColumnChart',  
                gvSettings: {
                	vAxis: {title: 'Scores'},
                	hAxis: {title: 'Groups'},                    
                    width: 840,
                    height: 300,
                    swap:true
                    }
            });
        });</script>
        <script type="text/javascript">     
        gvChartInit();
        jQuery(document).ready(function(){
            jQuery('#myTable31').gvChart({
                chartType: 'ColumnChart',  
                gvSettings: {
                    vAxis: {title: 'Scores'},
                    hAxis: {title: 'Groups'},                    
                    width: 840,
                    height: 300,
                    swap:true
                    }
            });
        });</script>
     <script type="text/javascript">     
        gvChartInit();
        jQuery(document).ready(function(){
            jQuery('#myTable50').gvChart({
                chartType: 'PieChart',  
                gvSettings: {
                	vAxis: {title: 'Scores'},
                	hAxis: {title: 'Groups'},                    
                    width: 840,
                    height: 300,
                    swap:true
                    }
            });
        });
    </script>
    <script type="text/javascript">     
        gvChartInit();
        jQuery(document).ready(function(){
            jQuery('#myTable40').gvChart({
                chartType: 'ColumnChart',  
                gvSettings: {
                	vAxis: {title: 'Scores'},
                	hAxis: {title: 'Groups'},                    
                    width: 840,
                    height: 300,
                    swap:true
                    }
            });
        });
    </script>
    <script type="text/javascript">     
        gvChartInit();
        jQuery(document).ready(function(){
            jQuery('#myTable10').gvChart({
                chartType: 'ColumnChart',  
                gvSettings: {
                    vAxis: {title: 'Scores'},
                    hAxis: {title: 'Units'},                    
                    width: 840,
                    height: 300,
                    swap:true
                    }
            });
        });
    </script>
	<a id="scores" > </a>
          
            <table border="1" id='myTable31' >
                <Caption> Overall Average Score Per Unit </caption>
                <thead>     
                <tr>
                    <th></th>
                    <th>Unit 1</th>
                    <th>Unit 2</th>
                    <th>Unit 3</th>
                    <th>Unit 4</th>       
                </tr>
                </thead>
                <tbody>  
                    <tr>                             
                     <th>Average Marks </th>   
                    <td>80%</td>
                    <td>60%</td>
                    <td>77%</td>
                    <td>50%</td> 
                    </tr>                   
                </tbody>                
            </table>  

             <a id="basics" > </a>
            <table id='myTable10'>
                <caption>Group Comparison of Unit Scores</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>Unit 1</th>
                        <th>Unit 2</th>
                        <th>Unit 3</th>
                        <th>Unit 4</th>                        
                    </tr>
                </thead>
                    <tbody>
                    <tr>                        
                        <th>Nairobi</th>
                        <td>60</td>
                        <td>71</td>
                        <td>55</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <th>Rift Valley</th>
                        <td>67</td>
                        <td>81</td>
                        <td>69</td>
                        <td>65</td>
                    </tr>
                    <tr>                        
                        <th>North Eastern</th>
                        <td>75</td>
                        <td>85</td>
                        <td>67</td>
                        <td>59</td>
                    </tr>
                    
                </tbody>
            </table>     

            <a id="users" > </a>              
            <table border="1" id='myTable' >
                <Caption> Course Completion Rate </caption>
                <thead>     
                <tr>
                    <th></th>
                    <th>Nairobi</th>
                    <th>Rift Valley</th>
                    <th>North Eastern</th>
                    <th>Average</th>       
                </tr>
                </thead>
                <tbody>  
                    <tr>                             
                     <th>Average Marks </th>   
                    <td>50%</td>
                    <td>80%</td>
                    <td>70%</td>
                    <td>65%</td> 
                    </tr>                   
                </tbody>                
            </table>

            <!-- <h2 id="pie">U1 Q1: Average Answers</h2> -->
             <a id="questions" > </a>
			<table id='myTable50'>
				<caption>U1 Q1: Average Answers</caption>
				<thead>
					<tr>
						<th></th>
						<th>A= Not satisfied</th>
                        <th>B= Somewhat satisfied</th>
                        <th>C= Satisfied</th>
                        <th>D= Extremely satisfied</th>
					</tr>
				</thead>
					<tbody>
					<tr>
						<th>2013</th>
						<td>15</td>
						<td>25</td>
						<td>40</td>
						<td>20</td>
					</tr>
				</tbody>
			</table>            
            

           <!--  <h2 id="column">ColumnChart</h2> -->
           <a name='myTable21'></a>
			<table id='myTable40'>
				<caption>U1 Q1 Analysis by Groups</caption>
				<thead>
					<tr>
						<th></th>
						<th>Nairobi</th>
						<th>Rift Valley</th>
						<th>North Eastern</th>
						<th>Average</th>						
					</tr>
				</thead>
					<tbody>
					<tr>						
                        <th>A= Not satisfied</th>
						<td>125</td>
						<td>185</td>
						<td>327</td>
						<td>359</td>
					</tr>
					<tr>
                        <th>B= Somewhat satisfied</th>
						<td>167</td>
						<td>810</td>
						<td>691</td>
						<td>165</td>
					</tr>
                    <tr>                        
                        <th>C= Satisfied</th>
                        <td>125</td>
                        <td>185</td>
                        <td>327</td>
                        <td>359</td>
                    </tr>
                    <tr>
                        <th>D= Extremely satisfied</th>
                        <td>167</td>
                        <td>810</td>
                        <td>691</td>
                        <td>165</td>
                    </tr>
				</tbody>
			</table>
           
        <a href="#top" style="color:black">Back to Top</a>
</div>	                
   
{%endblock%}


