{% extends 'base.html' %}
{%block content%}

<script type="text/javascript">
    gvChartInit();
</script>


<h2  align="center"> Performance </h2>

<table  align="center" >			
			<tr><td>
			<ul>
			<li>							
            		<li><a href="#" style="color:black">All |</a></li> 
	                <li><a href="#" style="color:black">Basics | </a></li>
		            <li><a href="#" style="color:black">Unit Scores | </a></li>	 
					<li><a href="#" style="color:black">Users | </a></li>
					<li><a href="#" style="color:black">Questions | </a></li>
			<li>

			</ul>			
			</td></tr>
		</table>	

		<h3>
		<table  align="center" cellpadding="10" >			
			<tr>
				<td>10,000 </td><td>SMS Sent</td>
				<td>110 </td><td>End user complete course</td></tr><tr>
				<td>700 </td><td>SMS Received</td>
				<td>30 </td><td>End users in progress</td></tr><tr>
				<td>10,700 </td><td>total SMSs used</td>
				<td>50 </td><td>End users have not started</td>
			</td></tr>
		</table>
		</h3>

 {% for transfer in amount %}
                    {{transfer.mpesa_trx_date}}
                    {% endfor %}

 {% for transfer in monthly_amount %}
                    {{transfer.mpesa_trx_month}}
                    {% endfor %}

 {% for transfer in yearly_amount %}
                    {{transfer.mpesa_trx_year}}
                    {% endfor %}


        <script type="text/javascript" src="/static/js/jsapi.js"></script>
        <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.gvChart-1.0.1.min.js"></script>
        
        <!-- LineChart -->

        <script type="text/javascript">     
        gvChartInit();
        jQuery(document).ready(function(){
            jQuery('#myTable').gvChart({
                chartType: 'ColumnChart',  
                gvSettings: {
                	vAxis: {title: 'Total Amount (Ksh)'},
                	hAxis: {title: 'Day'},                    
                    width: 840,
                    height: 300,
                    swap:true
                    }
            });
        });
    </script>
     <script type="text/javascript">     
        gvChartInit();
        jQuery(document).ready(function(){
            jQuery('#myTable50').gvChart({
                chartType: 'PieChart',  
                gvSettings: {
                	vAxis: {title: 'Total Amount (Ksh)'},
                	hAxis: {title: 'Day'},                    
                    width: 840,
                    height: 300,
                    swap:true
                    }
            });
        });
    </script>
    <script type="text/javascript">     
        gvChartInit();
        jQuery(document).ready(function(){
            jQuery('#myTable40').gvChart({
                chartType: 'ColumnChart',  
                gvSettings: {
                	vAxis: {title: 'Marks'},
                	hAxis: {title: 'Groups'},                    
                    width: 840,
                    height: 300,
                    swap:true
                    }
            });
        });
    </script>
    <script type="text/javascript">     
        gvChartInit();
        jQuery(document).ready(function(){
            jQuery('#myTable3').gvChart({
                chartType: 'LineChart',
                gvSettings: {
                    vAxis: {title: 'Total Amount (Ksh)'},
                    hAxis: {title: 'Year'},
                    width: 840,
                    height: 300
                    }
            });
        });
    </script>
    
               
                                 
                            
            
            <table border="1" id='myTable' >
                <Caption> Daily Summaries </caption>
                <thead>     
                <tr>
                    <th></th>
                    <th>2013/01/01</th>
                    <th>2013/01/02</th>
                    <th>2013/01/03</th>
                    <th>2013/01/04</th>
                    <th>2013/01/05</th>        
                </tr>
                </thead>
                <tbody>  
                    <tr>                             
                     <th>Total </th>   
                    <td>50</td>
                    <td>100</td>
                    <td>250</td>
                    <td>500</td>
                    <td>150</td>  
                    </tr>                   
                </tbody>                
            </table>

            <h2 id="pie">U1 Q1: Average Answers</h2>

			<table id='myTable50'>
				<caption>U1 Q1: Average Answers</caption>
				<thead>
					<tr>
						<th></th>
						<th>A= Not satisfied</th>
                        <th>B= Somewhat satisfied</th>
                        <th>C= Satisfied</th>
                        <th>D= Extremely satisfied</th>
					</tr>
				</thead>
					<tbody>
					<tr>
						<th>2013</th>
						<td>15</td>
						<td>25</td>
						<td>40</td>
						<td>20</td>
					</tr>
				</tbody>
			</table>            
            

           <!--  <h2 id="column">ColumnChart</h2> -->

			<table id='myTable40'>
				<caption>U1 Q1 Analysis by Groups</caption>
				<thead>
					<tr>
						<th></th>
						<th>Nairobi</th>
						<th>Rift Valley</th>
						<th>North Eastern</th>
						<th>Average</th>						
					</tr>
				</thead>
					<tbody>
					<tr>
						<th>2013</th>
						<td>125</td>
						<td>185</td>
						<td>327</td>
						<td>359</td>
					</tr>
					<tr>
						<th>2013</th>
						<td>167</td>
						<td>810</td>
						<td>691</td>
						<td>165</td>
					</tr>
                    <tr>
                        <th>2013</th>
                        <td>125</td>
                        <td>185</td>
                        <td>327</td>
                        <td>359</td>
                    </tr>
                    <tr>
                        <th>2013</th>
                        <td>167</td>
                        <td>810</td>
                        <td>691</td>
                        <td>165</td>
                    </tr>
				</tbody>
			</table>
                                
           
            </div>
{%endblock%}


