{% extends 'base.html' %}

{% block title %} {{qunit.title}} Quiz Unit {% endblock %}

{% block content %}	


<div id="link_header">
  <h1>{{qunit.title}}</h1>
	<p>
		<b><a href="/programs/{{program.id}}">{{program.name}}</a> | </b> 
		<b><a href="/exams/{{exam.id}}">{{exam.title}}</a> | </b> 
		{{qunit.title}}
	</p>
</div>

<div class="metadata">
	<b>Program Name:</b> {{program.name}}<br/>
	<!-- <b>Exam Name:</b> {{exam.title}}<br/> 
	<b>Unit Name:</b> {{qunit.title}}<br/>
	<b>Content Text:</b> {{qunit.description}}<br/>
	-->
	<b>Unit Name:</b> {{exam.title}}<br/> 	
	<b>Total texts:</b> {{qunit.text_count}}<br/>
</div>
<hr style="height:5px;background:#F2EC8B;border:0;width:80%;margin-left:10%;margin-right:2%;"/>

<div class="metadata">
	<h2>Unit Questions</h2>
	<table class="fancy_table">
		<tr><th>Question</th><th>Choices</th><th>Correct Choice</th><th>Action</th></tr>
		{% for q in qunit.questions.all %}
		<tr>
			<td><a href="/exams/questions/{{q.id}}">{{q.text}}</a></td>
			<td>{{q.choices}}</td>
			<td>{{q.correct}}</td>
			<td><a href="/exams/questions/{{q.id}}/edit">Edit</a> <a class="del-link" href="/exams/questions/{{q.id}}/delete">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
</div>


{% if exam %}


{% else %}
<div id="link_header">
  <h1>Editing > {{qunit.title}}</h1>
</div>

<div class="row">
  <div class="span12">
    <p>
      <a href="/programs/{{program.id}}">{{program.name}}</a> |
      <a href="/exams/{{exam.id}}">{{exam.title}}</a> |
      {{qunit.title}}
    </p>
    <form class="form" method="POST" action="/exams/qunits/{{qunit.id}}/update">
      {% csrf_token %}
      <input type="hidden" name="order" value="{{qunit.order}}">
      <label>Title:</label>
      <input type="text" value="{{qunit.title}}" name="title" class="inputtext">
      <label>Content Text:</label>
      <textarea rows="4" name="description">{{qunit.description}}</textarea>
      <button class="greyed_btn" type="submit">Update Unit</button>
    </form>
  </div>
</div>
{% endif %}

<!--
<div class="metadata">
	<h2>Add a Question</h2>
	<table>
		<form class="form" method="POST" action="/exams/questions/create">
			{% csrf_token %}
			<input type="hidden" name="qunitId" value="{{qunit.id}}">
		<tr>
			<td>
				<label>Question:</label><textarea name="text" rows="4" placeholder="e.g. How far is the sun?"></textarea>
			</td>
			<td>
				<label>Possible Choices:</label><textarea name="choices" rows="4" placeholder="e.g. a) 23 million miles. b) 93 million miles. c) 100 million miles."></textarea>
			</td>
		</tr>
		<tr><td colspan="2"><label>Correct Choice:</label></td></tr>
		<tr><td><input type="text" name="correct" placeholder="e.g. b" class="inputtext"></td></tr>
		<tr><td><button class="greyed_btn" type="submit" style="margin-left:10px;">Create New Question</button></td></tr>
		</form>
	</table>
</div>
-->

{% endblock %}
