{% extends 'base.html' %}

{% block title %} {{exam.title}} {% endblock %}

{% block content %}
		
		<form method='GET' action='/viewreport/'>
		<b>Exam:</b> <select name='exam'>
			{% for exam in examz %}
				<option value='{{exam.id}}'>{{exam.title}}</option>
			{% endfor %}
		</select>
		<input type='submit' class='greyed_btn' value="View Report"/> <!--
		<a href="/viewreport/{{exam.id}}">
		<button type="button" onclick="/viewreport/{{exam.id}}" class="greyed_btn">View Report</button> </a> -->
		
		</form>
		
<div id="link_header">   
	<h1><a href="/programs/{{program.id}}">{{program.name}}</a> &lt; {{exam.title}}</h1>	
</div>
<div class="metadata">
	<b>Title:</b> {{exam.title}}<br/>
	<b>Description:</b> {{exam.description}}<br/>
	<b>Total texts:</b> {{exam.text_count}}<br/>
	<b>Start time:</b> {{exam.startTime}}<br/>
	<b>End time:</b> {{exam.endTime}}<br/>
	<b>Ready:</b> {% if exam.ready %} yes {% else %} no {% endif %}
	<p><a class="spruced_yellow_btn" href="/exams/{{exam.id}}/edit">Edit this Exam</a></p>	
</div>
<hr style="height:5px;background:#F2EC8B;border:0;width:80%;margin-left:10%;margin-right:2%;"/>
<div class="metadata">
	<h3>How the users are doing</h3>
	<table class="fancy_table">
	<tr><th>Phone</th><th>Name</th>{% for qunit in qunits %}<th>{{qunit.title}}</th>{% endfor %}<th>Total</th></tr>
	
	{% for report in reports %}
	<tr>
		<td><a href="/users/{{report.user.id}}">{{report.user.phone}}</a></td>
		<td>{{report.user.firstname}} {{report.user.lastname}}</td>
		{% for score in report.scores %}
		        <td>{{score.right}} / {{score.total}}</td>
        	{% endfor %}
		<td>{{report.totalRight}} / {{report.totalQs}}</td>
	</tr>
	{% endfor %}
	</table>
</div>
<div class="metadata">
  <h3>Quiz Units <a class="spruced_yellow_btn" href="/exams/{{exam.id}}/qunit">Add</a></h3>
</div>
<hr style="height:5px;background:#F2EC8B;border:0;width:80%;margin-left:10%;margin-right:2%;"/>

<div class="metadata">
	{% for qunit in exam.qunits.all %}
	<table width="100%">
		<tr colspan="2"><td><b><a href="/exams/qunits/{{qunit.id}}">{{qunit.title}}</a></b></td></tr>
		<tr colspan="2">
			<td rowspan="3" width="30%">
				{{qunit.description}}<br/>
				<b>Total texts:</b> {{qunit.text_count}}<br/>
				<p><a href="{{qunit.edit_url}}" class="spruced_yellow_btn">Edit</a> <a class="spruced_yellow_btn" href="{{qunit.del_url}}">Delete</a></p>	
			</td>
			<td width="70%">
				<table class="fancy_table">
					<tr><th>Question</th><th>Choices</th></tr>
					{% for q in qunit.questions.all %}
					<tr><td>{{q.text}}</td><td>{{q.choices}}</td></tr>
				        {% endfor %}
				</table>
			</td>			
		</tr>	
	</table>	
	{% endfor %}
</div>


{% endblock %}

