{% extends 'base.html' %}

{% block title %} Courses {% endblock %}

{% block content %}

<div id="link_header">
	<div id="big_head">
		Welcome, {{client.name}}
	</div>
	<div id="small_head">
		Augmenting your human potential and capital. Your SMS short code is <b>{{client.shortCode}}</b>
	</div> 
</div>
<div class="list_header">
	<form action="/programs/new">
	<table width="100%">
		<tr>
			<td align="center">
				
				<button class="square_greyed_btn" type="submit" style="font-size:2em;font-weight:bold;">Create New Course</button>
			</td>
		</tr>		
	</table>
	</form>	
</div>

<div class="list_header">
	<table width="100%">
		<tr>
			<td width="33%"><span style="float:left;font-size:1.8em;font-weight:bold;">Courses</span></td>
			<td width="33%" style="text-align:center;"><span style="font-size:1.8em;font-weight:bold;">Enrollment</span></td>
			<td width="33%" style="text-align:center;"><span style="font-size:1.8em;font-weight:bold;">Course Code</span></td>
		</tr>	
	</table>
</div>

<div class="list">	
	<table width="100%">					
		{% for program in programs %}				
		<tr>
			<td width="33%"><a href="/programs/{{program.id}}">{{program.name}}</a></td>
			<td width="33%" style="text-align:center;">{{program.users.count}}</td>
			<td width="33%" style="text-align:center;">{{program.programCode}}</td>
		</tr>
		<tr><td colspan="3"><hr style="height:2px;background:#F2EC8B;border:0;width:100%;margin-right:2%;"/></td></tr>	
		{% endfor %}
</table>
</div>


{% endblock %}
