{% extends 'base.html' %}

{% block title %} Mock Console {% endblock %}

{% block content %}

{{ msg }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>

<div id="link_header">
	<h2>Mock Console</h2> 
</div>
<div class="metadata">
	
	<form>
		<table width="100%" class="console_table">
			<tr>
				<td>
					<label>From:</label><br/>
					<input type="text" id="number" placeholder="Your number." class="inputtext"><br/>
					<label>To the short code:</label><br/>
					<input type="text" id="shortCode" value="4004" placeholder="The short code." class="inputtext"><br/>
					<label>Message:</label><br/>
					<textarea id="message" rows="4" placeholder="Your message. Math class is access code 123."></textarea><br/>
					
					<button class="spruced_greyed_btn" style="margin-left:10px;" id="sendBtn">Send Message</button>
				</td>
				<td style="padding-left:50px;">
					<h1>Text Log</h1>
					<textarea style="width:400px;height:200px;padding:5px;" placeholder="Enter access code to view log" id="log"></textarea>
				</td>				
			</tr>
		</table>		
	</form>
	
  </div>


<script>

  // set up a random phone number
  var rNum = Math.floor(Math.random()*10000)+1;
  $('#number').val(rNum);

  var csrf = "{{ csrf_token }}";

  // fancy log function thing
  var log = (function() {
    if (window.console && window.console.log) {
      return (function (msg) { console.log(msg); }); 
    } else {
      return (function () {});
    }
  })();

  // validate the input/textarea
  var validate = function($el) {
    // first remove the red in case it's there
    $el.removeClass('red');
    // now to valid / make red if necessary
    if ($el.val() != '') {
      return true;
    }
    // else make it red
    $el.addClass('red');
    return false;
  };
  
  
  // set up texts to be automatically refreshed ever second
  (function() {
    var logArea = $('#log');
    var logs = []; // to prevent updating when no changes
    
    var renderLogs = function(logs) {
      var ll = logs.length;
      var i, log, res="";
      for (i=0; i<ll; i++) {
        log = logs[i].fields;
        res += "[from: "+log.source;
        res += " to: "+log.destination+"]:";
        res += log.message+"\n";
      }
      logArea.val(res)
      logArea[0].scrollTop = logArea[0].scrollHeight;
    };
    
    var reloadLog = function() {
      $.ajax({
        url: '/smsLog',
        success: function(res) {
          console.log("Logs:", logs);
          if (logs.length != res.length) {
            logs = res;
            // render logs
            renderLogs(logs);
          }
          // poll again, better than setInterval b/c could have network latency
          setTimeout(reloadLog, 1000);
        },
        error: function(res) {
          // still poll again...
          setTimeout(reloadLog, 1000);
        }
      });
    };
    // start the whole timer thing
    reloadLog();
  })();

  // make the send button work
  $('#sendBtn').click(function() {
    log('button clicked!');
    var numArea = $('#number');
    var shortArea = $('#shortCode');
    var msgArea = $('#message');
    // make sure there is a number and a message
    if (validate(numArea) && validate(shortArea) && validate(msgArea)) {
      // all good, make the ajax request
      var params = {
        source: numArea.val(),
        destination: shortArea.val(),
        message: msgArea.val(),
        csrfmiddlewaretoken: csrf
      };
      msgArea.val('');
      // clear the placeholder too
      msgArea.attr("placeholder", "");
      // fire and forget style
      $.ajax({
        url: '/receiveConsole',
        type: 'POST',
        data: params
      });
    } 
    return false;
  });
  
</script>

{% endblock %}
