<!DOCTYPE html>
  <head>
    <title>{% block title %}g.Maarifa{% endblock %} |g.Maarifa</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
<link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">
<link href="/static/css/style.css" rel="stylesheet">   

  
</head>

<body>
<div id="wrapper">  		
	<div id="mainheader">		
		<div id="logo">
			<a href="/home"><img src="/static/images/gmaarifasmall.png" width="150px" height="50px"/></a>				
		</div>
		<div id="header">
			<table  align="center">			
			<tr><td>
			<ul>
			<li><a href="/home">Courses | </a></li>										
            		<li><a href="/reports/1">Reports |</a></li> 
	                <li><a href="/profile">Users | </a></li>
			{% if user%}
		            <li><a href="/console">Console | </a></li>	               
			{%endif%}
					<li><a href="/exams/performance">Performance | </a></li>
					<li><a href="/docs">Docs | </a></li>
			<li><a href="/logout">Logout</a></li>

			</ul>			
			</td></tr>
		</table>	
		</div>
	</div>
		
			
	<div id="content">
	  {% block content %}
		  <!-- main content! -->
	  {% endblock %}		
	</div>	
	<div id="footer">
		&copy;2013.g.Maarifa.All rights reserved.
	</div>	
</div>


  </body>
</html>
