<html>
<head>
	<title>User Registration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="/static/css/style2.css" type="text/css" />
</head>
<body>
<div id="wrapper">	
	<div id="title_header">
		<a href="/m" style="float:right;" class="mini_btn">go back</a><br/>
		<p><span class="underline_title">Registration</span></p>
	</div>	
	<div id="content">
		<form action="/registerUser"" method="POST" onsubmit="return validateForm()">
		{% csrf_token %}
		<table width="100%">	
			<tr><td colspan="2">Please fill in all fields</td></tr>		
			<tr><td colspan="2"><label>First Name:</label></td></tr>
			<tr><td colspan="2"><input type="text" name="firstname" id="firstname" /></td></tr>
			<tr><td colspan="2"><label>Surname:</label></td></tr>
			<tr><td colspan="2"><input type="text" name="lastname" id="lastname" /></td></tr>
			<tr><td colspan="2"><label>Date of Birth:</label></td></tr>
			<tr><td colspan="2"><input type="text" name="bday" placeholder="yyyymmdd" id="bday" /></td></tr>
			<tr><td colspan="2"><label>Phone Number:</label></td></tr>
			<tr><td colspan="2"><input type="text" name="phone" id="phone" placeholder="e.g. 254111111"/></td></tr>	
			<tr><td colspan="2"><label>Username:</label></td></tr>
			<tr><td colspan="2"><input type="text" name="username" id="username"/></td></tr>	
			<tr><td colspan="2"><label>Password:</label></td></tr>
			<tr><td colspan="2"><input type="password" name="password" class="passtext" id="password" /></td></tr>			
			<tr><td colspan="2"><label>Confirm Password:</label></td></tr>
			<tr><td colspan="2"><input type="password" name="conf_password" class="passtext" id="conf_password" /></td></tr>	
			<tr><td colspan="2"><label>Enter Course ID:</label></td></tr>
			<tr><td colspan="2"><input type="text" name="program" id="program" /></td></tr>
			<tr>
				<td><input type="image" src="/static/images/sign_up.png" name="SignUp" id="SignUp" class="shadowbutton"/></form></td>
			<td><a href="/helpweb"><img src="/static/images/help.png" class="shadowbutton"/></a></td>
			</tr>			
		</table>
		<script type="text/javascript">
			function validateForm(){
				$firstname=document.getElementById('firstname').value;
				$lastname=document.getElementById('lastname').value;
				$phone=document.getElementById('phone').value;
				$bday=document.getElementById('bday').value;
				$username=document.getElementById('username').value;
				$password=document.getElementById('password').value;
				$confirm_password=document.getElementById('conf_password').value;
				$program=document.getElementById('program').value;

				if($firstname==""||$lastname==""||$phone==""||$bday==""||$username==""||$password==""||$confirm_password==""||$program==""){
					alert('Fill in all blank fields');
					return false;
				}
				else if($password!=$confirm_password){
					alert('The two passwords do not match');
					return false;
				}
				else{
					//$('#target').submit();			
					return true;
				}
				return false;
			}			
			
		</script>				
	</div>	
</div>
<div id="lower_header">
	<table width="100%">			
	<tr>
		<td width="40%"><img src="/static/images/client_logo.png" class="client_logo"/></td>
		<td width="20%"></td>
		<td width="40%"><img src="/static/images/g_logo.png" class="g_logo"/></td>
	</tr>
	</table>
</div>
<div id="footer">
	&copy;2013.g.Maarifa.All Rights Reserved
</div>
</body>
</html>
