{% extends 'base.html' %}

{% block title %} g.Maarifa Admin Console {% endblock %}

{% block content %}
<div class="page-header">
  <h1>Admin Console <a class="btn" href="/admin/logout">Logout</a></h1>
</div>

<div class="row">
  <div class="span12">
    <h3>Clients <a class="btn" href="/admin/clients/new">New Client</a></h3>
    <table class="table table-bordered">
      <tr>
        <th>Name</th><th>Short Code</th><th>Username</th><th>SMS User</th><th>Mock?</th><th>Actions</th>
      </tr>
      {% for client in clients %}
      <tr>
        <td>{{client.name}}</td>
        <td>{{client.shortCode}}</td>
        <td>{{client.username}}</td>
        <td>{{client.smsUser}}</td>
        <td>{% if client.mock %} yes {% else %} no {% endif %}</td>
        <td>
          <a class="btn" href="/view-as/{{client.id}}">View As</a>
          <a class="btn" href="/admin/clients/{{client.id}}/edit">Edit</a>
          <a class="btn" href="/admin/clients/{{client.id}}/delete">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}

