{% extends 'base.html' %}

{% block title %} View {{program.name}} {% endblock %}

{% block content %}

<div class="link_header">
  <h1>{{program.name}}</h1>
</div>

<div class="row">
  <div class="span12">
    <p><b>Code:</b> {{program.programCode}}</p>
    <p><b>Students Enrolled:</b> {{program.users.count}}</p>
    <p><b>Exams:</b></p>
    <table class="table table-bordered">
      <tr><th>Name</th><th>Start Time</th><th>End Time</th><th>Total Texts</th><th>Actions</th></tr>
      {% for exam in program.exams.all %}
      <tr><td><a href="/exams/{{exam.id}}">{{exam.title}}</td><td>{{exam.startTime}}</td><td>{{exam.endTime}}</td><td>{{exam.text_count}}</td>
        <td>
          <a class="btn" href="/exams/{{exam.id}}/edit">Edit</a>
          <a class="btn del-link" href="/exams/{{exam.id}}/delete">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <p>
      <a class="spruced_yellow_btn" href="/programs/{{program.id}}/exam">Add Unit</a>
      <a class="spruced_yellow_btn" href="/programs/{{program.id}}/edit">Edit this Course</a>
    </p>
  </div>
</div>

{% endblock %}
