{% extends 'exams/viewExamEdited.html' %}

{% block title %} View {{program.name}} {% endblock %}

{% block content %}

<div id="link_header">
  <h1>{{program.name}}</h1>
</div>
<div class="metadata">
	<b>Course: </b>{{program.name}}<br/>
	<b>Code: </b>{{program.programCode}}<br/>
	<b>Enrolled Students: </b>{{program.users.count}} 
</div>
<div>
	<table class="fancy_table">
	<tr><th>Name</th><th>Start Time</th><th>End Time</th><th>Total Texts</th><th>Actions</th></tr>
		 {% for exam in program.exams.all %}
		<tr><td><a href="/exams/{{exam.id}}">{{exam.title}}</a></td><td>{{exam.startTime}}</td><td>{{exam.endTime}}</td><td>{{exam.text_count}}</td>
		<td align="center">
          	<a href="/exams/{{exam.id}}/edit">Edit</a>
	        <a href="/exams/{{exam.id}}/delete">Delete</a>
        	</td>
		</tr>
		{% endfor %}		
	</table>
</div>	       
<div class="extra_buttons">
      <a class="spruced_yellow_btn" href="/programs/{{program.id}}/exam">Add Unit</a>
      <a class="spruced_yellow_btn" href="/programs/{{program.id}}/edit">Edit this Course</a>     
	 
</div>

{% endblock %}
